.login-screen {
  align-items: center;
  display: flex;
  justify-content: flex-end;

  &__form {
    width: 50vw;
  }

  &__graphics {
    background-color: #EFF5FF;
    height: 100vh;
    width: 50%;
  }
}
