.login-screen {
  align-items: center;
  display: flex;
  justify-content: space-between;

  &__form {
    margin-left: 121px;
  }

  &__background {
    background-color: #EFF5FF;
    background-image: url("./../../../assets/login-background.svg");
    background-size: cover;
    height: 100vh;
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .login-screen {
    position: relative;

    &__form {
      margin: 0 32px 0 14px;
      width: 100%;
    }

    &__background {
      background-image: url("./../../../assets/login-background-mobile.svg");
      border-radius: 16px;
      height: 316px;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }
  }
}
