.login-form {
  align-items: flex-start;
  display: flex;
  flex-direction: column;

  &__logo-icons {
    height: 54px;
    width: 112px;
  }

  &__heading {
    margin-top: 16px;
  }

  &__subheading {
    margin: 24px 0 48px;
  }

  &__input {
    margin-bottom: 10px;
  }

  &__button {
    margin-top: 26px;
    width: 232px;
  }
}
