.auth {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: space-between;

  &__form {
    padding-left: 121px;
  }

  &__background {
    background-color: #EFF5FF;
    background-image: url("./../../../assets/login-background.svg");
    background-size: cover;
    height: 100vh;
    width: 50vw;
  }
}

@media screen and (max-height: 900px){
  .auth {
    align-items: normal;

    &__form {
      align-items: center;
      overflow: auto;
      padding: 64px 121px;
      width: 50%;
    }
  }
}

@media screen and (max-width: 980px){
  .auth {
    &__form {
      padding-left: 16px;
    }
  }
}

@media screen and (max-width: 500px) {
  .auth {
    height: 92vh;
    position: relative;

    &__form {
      margin: 0 14px;
      padding: 0;
      width: 100%;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__background {
      background-image: url("./../../../assets/login-background-mobile.svg");
      border-radius: 16px;
      height: 316px;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }
  }
}
