.input {
  border: 1px solid #B3CDF8;
  border-radius: 8px;
  outline: none;
  padding: 16px;
  width: 100%;

  &:focus {
    border-color: #5C98F1;
  }

  &_errored {
    border-color: #FB6262;

    &:focus {
      border-color: #FB6262;
    }
  }

  &_borderless {
    border: 0;
  }
}
