.chat-companion {
  display: flex;

  &__mobile {
    align-items: center;
    display: flex;
  }

  &__icon {
    margin: 0 12px;
  }

  &__back-icon {
    cursor: pointer;
  }

  h3 {
    margin-bottom: 4px;
  }
}
