.form-field {
  display: inline-block;
  position: relative;
  width: 100%;

  &__label-text {
    font-size: 13px;
    font-weight: 600;
    line-height: 19px;
  }

  &__error-text {
    color: #FB6262;
    font-size: 13px;
    font-weight: 500;
    line-height: 19px;
    margin: 4px 0 0 8px;
    min-height: 19px;
    visibility: visible;
  }

  &__error-text_active {
    visibility: visible;
  }
}
